name: elkjs CI

on:
  push:
    branches:
      - master 
  repository_dispatch:
  schedule:
    - cron:  '0 3 * * *'
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    continue-on-error: true

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 14.x, 16.x, 18.x ]
        java-version: [ 11, 13, 15, 17 ] 

    steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: eclipse/elk
        ref: master
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java-version }}
    - name: Cache gradle packages
      uses: actions/cache@v4
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle
    - name: Cache npm 
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}
        restore-keys: ${{ runner.os }}-node-
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm test
      env:
        CI: true
