# workflow to automatically publish a release to npm after it is published on github
name: publish

on:
    release:
        types: [published]

permissions:
    id-token: write
    contents: read

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.ref_name }}
            - uses: actions/setup-node@v4
              with:
                node-version: '24'
                registry-url: 'https://registry.npmjs.org'
            - run: npm test
            - run: npm publish
